name: Check
on: push

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install pnpm/node
        uses: jdx/mise-action@v3

      - name: Setup pnpm cache
        uses: actions/setup-node@v6
        with:
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Check
        run: pnpm run ci
